<navbar></navbar>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 text-center section-header">
      <span class="splash splash-header">Parts</span>
      <div class="pull-right">
        <a ui-sref="new-part">
            <button class="btn btn-default btn-sm light-gray text-center col-xs-12">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Part
            </button>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <table class="table table-bordered table-striped">
        <tr>
          <th class="text-center col-xs-4 middle-header light-gray">Name</th>
          <th class="text-center col-xs-2 middle-header">Dimensions (mm)</th>
          <th class="text-center col-xs-1 middle-header">Volume (cm^3)</th>
          <th class="text-center col-xs-2 middle-header">Material</th>
          <th class="text-center col-xs-1 middle-header">Current Price</th>
          <th class="text-center col-xs-1 middle-header">Score</th>
          <th class="text-center col-xs-1 middle-header">Edit</th>
        </tr>
        <tr ng-repeat="part in $ctrl.parts" class="hoverable">
          <td ng-click="$ctrl.viewRow(part.id)">{{part.name}}</td>
          <td ng-click="$ctrl.viewRow(part.id)">{{part.width}} x {{part.depth}} x {{part.height}}</span></td>
          <td ng-click="$ctrl.viewRow(part.id)">{{part.volume}}</span></td>
          <td ng-click="$ctrl.viewRow(part.id)"><span ng-if="part.material !== null">{{part.material.type}}</span></td>
          <td ng-click="$ctrl.viewRow(part.id)">${{part.price}}</td>
          <td ng-click="$ctrl.viewRow(part.id)">{{part.score}}</td>
          <td ng-click="$ctrl.editRow(part.id)" class="clickable">
            <h4>
              <span ng-if="!part.isValid" class="glyphicon glyphicon-alert warning" aria-hidden="true"></span>
              <span ng-if="part.isValid" class="glyphicon glyphicon-pencil icon" aria-hidden="true"></span>
            </h4>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
