<navbar></navbar>
<main class="container">
  <form name="form" novalidate ng-submit="$ctrl.submit()">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        Edit Part:<br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-sm-4">
        <input placeholder="Name" name="name" id="name" type="text" required ng-model="$ctrl.part.name">
        <br><label for="name">Name</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-sm-4">
        <input placeholder="Material" name="materialId" id="materialId" type="text" required ng-model="$ctrl.part.materialId">
        <br><label for="materialId">Material</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-sm-4">
        <input placeholder="Width" name="width" id="width" type="text" required ng-model="$ctrl.part.width">
        <br><label for="width">Width (mm)</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-sm-4">
        <input placeholder="Depth" name="depth" id="depth" type="text" required ng-model="$ctrl.part.depth">
        <br><label for="depth">Depth (mm)</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-sm-4">
        <input placeholder="Height" name="height" id="height" type="text" required ng-model="$ctrl.part.height">
        <br><label for="height">Height (mm)</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-sm-4">
        <input placeholder="Volume" name="volume" id="volume" type="text" required ng-model="$ctrl.part.volume">
        <br><label for="volume">Volume (cm^3)</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-sm-4">
        <input placeholder="666.66" name="price" id="price" type="text" required ng-model="$ctrl.part.price">
        <br><label for="price">Current Price ($)</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-sm-4">
        <input placeholder="7" name="leadTime" id="leadTime" type="text" required ng-model="$ctrl.part.leadTime">
        <br><label for="leadTime">Max. Lead Time (days)</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
      <button type="submit" ng-disabled="form.$invalid">Submit</button>
    </div>
  </form>
</main>