<navbar></navbar>
<main>
  <form name="form" novalidate ng-submit="$ctrl.submit()">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        New Part:<br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-sm-4">
        <input placeholder="Name" name="name" id="name" type="text" required ng-model="$ctrl.part.name">
        <br><label for="name">Name</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-sm-4">
        <select ng-options="material.id as material.name for material in $ctrl.materials" name="materialId" id="materialId" ng-model="$ctrl.part.materialId"></select>
        <br><label for="materialId">Material</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-sm-4">
        <input placeholder="Width" name="width" id="width" type="text" required ng-model="$ctrl.part.width">
        <br><label for="width">Width (mm)</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-sm-4">
        <input placeholder="Depth" name="depth" id="depth" type="text" required ng-model="$ctrl.part.depth">
        <br><label for="depth">Depth (mm)</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-sm-4">
        <input placeholder="Height" name="height" id="height" type="text" required ng-model="$ctrl.part.height">
        <br><label for="height">Height (mm)</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-sm-4">
        <input placeholder="Volume" name="volume" id="volume" type="text" required ng-model="$ctrl.part.volume">
        <br><label for="volume">Volume (cm^3)</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-sm-4">
        <input placeholder="Current Price" name="price" id="price" type="text" required ng-model="$ctrl.part.price">
        <br><label for="price">Current Price ($)</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-sm-4">
        <input placeholder="Required Turnaround" name="maxTurnaround" id="maxTurnaround" type="text" required ng-model="$ctrl.part.maxTurnaround">
        <br><label for="maxTurnaround">Required Turnaround (days)</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-md-4">
      <input class="col-xs-12" name="strengthCritical" id="strengthCritical" type="checkbox" ng-model="$ctrl.part.strengthCritical">
        <br><label for="strengthCritical">Strength Strength Critical</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <input class="col-xs-12" name="orderSize" id="orderSize" type="number" ng-model="$ctrl.part.orderSize">
        <br><label for="orderSize">Order Size</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
      <button type="submit" ng-disabled="form.$invalid">Submit</button>
    </div>
  </form>
</main>