<navbar></navbar>
<main class="container">
  <form name="form" novalidate ng-submit="$ctrl.submit()">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        New/Edit Part:<br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-md-4">
        <input placeholder="Name" name="name" id="name" type="text" required ng-model="$ctrl.part.name">
        <label for="name">Name</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <input placeholder="Material" name="material" id="material" type="text" required ng-model="$ctrl.part.material">
        <label for="name">Material</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-md-4">
        <input placeholder="Name" name="name" id="name" type="text" required ng-model="$ctrl.part.name">
        <label for="name">Name</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <input placeholder="Material" name="material" id="material" type="text" required ng-model="$ctrl.part.material">
        <label for="name">Material</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-md-4">
        <input placeholder="Name" name="name" id="name" type="text" required ng-model="$ctrl.part.name">
        <label for="name">Name</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <input placeholder="Material" name="material" id="material" type="text" required ng-model="$ctrl.part.material">
        <label for="name">Material</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-md-4">
        <input placeholder="Name" name="name" id="name" type="text" required ng-model="$ctrl.part.name">
        <label for="name">Name</label><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <input placeholder="Material" name="material" id="material" type="text" required ng-model="$ctrl.part.material">
        <label for="name">Material</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
      <button type="submit" ng-disabled="form.$invalid">Submit</button>
    </div>
  </form>
</main>