<navbar></navbar>
<main class="container">
  <div ng-hide="$ctrl.validGraph" class="alert alert-danger col-xs-offset-2 col-xs-8" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    {{$ctrl.message}}
  </div>
  <div ng-show="$ctrl.validGraph" class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 text-center section-header">
      <span class="splash splash-header">Scorecard</span>
    </div>
  </div>
  <div ng-show="$ctrl.validGraph" class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 text-center">
      <table class="table table-bordered table-striped">
        <tr>
          <th class="text-center col-xs-2 middle-header">Score</th>
          <th class="text-center col-xs-1 middle-header">Current Price</th>
          <th class="text-center col-xs-3 middle-header">Lowest Per Unit</th>
          <th class="text-center col-xs-3 middle-header">Target Quantity</th>
          <th class="text-center col-xs-1 middle-header">Optimal Quantity</th> 
        </tr>
        <tr>
          <td class="background-{{$ctrl.scoreBackground}}">
              <div>{{$ctrl.score | number : 0}}</div>
          </td>
          <td>
            <div>${{$ctrl.part.price | number : 0}}</div>
          </td>
          <td>
            <div>${{$ctrl.minPrice | number : 0}}</div>
          </td>
          <td>
            <div>{{$ctrl.part.orderSize | number : 0}}</div>
          </td>
          <td>
            <div>{{$ctrl.optimalQty | number : 0}}</div>
          </td>
        </tr>
      </table>
    </div>
    <br><br>
  </div>

  <div ng-show="$ctrl.validGraph" class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 text-center section-header">
      <div class="col-md-offset-1 col-xs-10">
        <canvas id="line" class="chart chart-bar" chart-data="$ctrl.data"
        chart-labels="$ctrl.labels" chart-series="$ctrl.series" chart-options="$ctrl.options"
        chart-dataset-override="$ctrl.datasetOverride">
        </canvas>
      </div>
    </div>
    <br><br>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 text-center section-header">
      <div class="pull-right">
        <a <a ui-sref="edit-part({ partId: $ctrl.part.id })">
            <button class="btn btn-default btn-sm light-gray text-center col-xs-12">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
            </button>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-offset-1 col-md-10 text-center section-header">
        <span class="splash splash-header">Part Detail</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-md-4">
        <span>Name: {{$ctrl.part.name}}</span><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <span>Material: <span ng-if="ctrl.part.material !== null">{{$ctrl.part.material.type}} ({{$ctrl.part.material.name}})</span></span><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-md-4">
        <span>Width (mm): {{$ctrl.part.width}}</span><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <span>Depth (mm): {{$ctrl.part.depth}}</span><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-sm-4">
        <span>Height (mm): {{$ctrl.part.height}}</span><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <span>Volume (cm^3): {{$ctrl.part.volume}}</span><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-md-4">
        <span>Current Price: ${{$ctrl.part.price}}</span><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <span>Required Turnaround (days): {{$ctrl.part.maxTurnaround}}</span><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-xs-12 col-md-4">
        <span>Strength Critical: 
          <span ng-if="$ctrl.part.strengthCritical">Yes</span>
          <span ng-if="!$ctrl.part.strengthCritical">No</span>
        </span><br><br>
      </div>
      <div class="col-md-offset-2 col-xs-12 col-md-4">
        <span>Order Size: {{$ctrl.part.orderSize}}</span><br><br>
      </div>
    </div>
    <div ng-if="$ctrl.isAdmin === true" class="row">
      <div class="col-xs-12 col-md-offset-1 col-md-10 text-center section-header">
        <span class="splash splash-header">Printing Options</span>
      </div>
    </div>
    <div ng-if="$ctrl.isAdmin === true" class="row">
      <div class="col-xs-12 text-center">
        <table class="table table-bordered table-striped">
          <tr>
            <th class="text-center col-xs-2 middle-header">Vendor</th>
            <th class="text-center col-xs-1 middle-header">Printer</th>
            <th class="text-center col-xs-3 middle-header">Material</th>
            <th class="text-center col-xs-3 middle-header">Cost Estimate</th>
            <th class="text-center col-xs-1 middle-header">Shipping Estimate</th>
          </tr>
          <tr ng-repeat="option in $ctrl.printingOptions">
            <td>
              <div>{{option.bureau.name}}</div>
              <div>Zip Code: {{option.bureau.zipCode}}</div>
              <div>Turnaround: {{option.bureau.turnaround}}</div>
              <div>Max Qty: {{option.bureau.maxOrder}}</div>
              <div>Margin: {{option.bureau.costFactor}}</div>
            </td>
            <td>
              <div>{{option.printer.manufacturer}}</div>
              <div>{{option.printer.name}}</div>
              <div>Dimensions: {{option.printer.maxWidth}}x{{option.printer.maxDepth}}x{{option.printer.maxHeight}}</div>
              <div>Process: {{option.printer.process}}</div>
            </td>
            <td>
              <div>{{option.printer.material.type}}</div>
              <div>{{option.printer.material.name}}</div>
              <div>Density: {{option.part.material.density}}</div>
            </td>
            <td>
              <div>Volume: {{$ctrl.part.volume | number : 2}}</div>
              <div>Unit Price: {{option.prices[0] | number : 2}}</div>
              <div>Print Quantity: {{option.printQuantity | number : 0}}</div>
            </td>
            <td>
              TBD
            </td>
          </tr>
        </table>
      </div>
    </div>
</main>