body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e5f6fd;
}

div.splash-container:before {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-color: #7fd4f5;
    background-image: url('../images/gears.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

a {
  color: #00B7FF;
}

img.brand {
  height: 35px;
  width: 38px;
  display: inline-block;
  margin-top: -8px;
  margin-bottom: -4px;
  /*margin-bottom: 5px;*/
}

div.message {
  color: red;
}

.table {
  background-color: white;
}

.section-header {
  margin-bottom: 10px;  
}

.splash {
  font-family: 'Squada One', cursive;
  color: #4e4f50;
}

.splash-title {
  font-size: 55px;
}

.splash-subtext {
  font-family: 'Squada One', cursive;
  color: #878d95;
  font-size: 25px;
}

.logo {
  height:150px;
}

.small-logo {
  height:100px;
}

.splash-text {
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #878d95;
  /*letter-spacing: 1px;*/
}

th.middle-header {
  vertical-align: middle !important;
  color: white; 
  background-color: #7998a5;
}

.splash-header {
  font-size: 25px;
  color: #4e4f50;
}

.pale-blue {
  color: #6fa9c0;  
}

.hidden {
  display: none;
}

td {
  text-align: center !important;
  display:table-cell !important;
  vertical-align:middle !important;
  float:none !important;
}


tr.hoverable span.icon {
  color: #00b7ff;
}

tr.hoverable:hover span.icon {
  color: white;
}

tr.hoverable:hover {
  background-color: #70cff4 !important;
  color: white;
}

tr.hoverable:hover td:hover.test {
  background-color: darkorange !important;
  color: white;
}

tr.hoverable:hover td.test {
  background-color: white !important;
}

tr.hoverable span.warning {
  color: darkorange;
}

tr.hoverable:hover span.warning {
  color: darkorange;
}

td.clickable:hover span.danger{
  cursor: pointer;
  color:red;
}

