body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e5f6fd;
}

div.splash-container:before {
    content: ' ';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background-color: #7fd4f5;
    background-image: url('../images/gears.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

a {
  color: #00B7FF;
}

img.brand {
  height: 35px;
  width: 38px;
  display: inline-block;
  margin-top: -8px;
  margin-bottom: -4px;
  /*margin-bottom: 5px;*/
}

div.message {
  color: red;
}

span.orange {
  color: darkorange;
}

.table {
  background-color: white;
}

.section-header {
  margin-bottom: 10px;  
}

.splash {
  font-family: 'Squada One', cursive;
  color: #4e4f50;
}

.splash-title {
  font-size: 60px;
}

.splash-text {
  font-size: 25px;
  color: #878d95;
}

th.middle-header {
  vertical-align: middle !important;
  color: white; 
  background-color: #7998a5;
}

.splash-header {
  font-size: 25px;
  color: #4e4f50;
}

.pale-blue {
  color: #6fa9c0;  
}

.light-gray {
  color: white; 
  background-color: #878d95;
  border-color:  #4e4f50;
}

.dark-gray {
  color: white; 
  background-color: #4e4f50;
  border-color:  #878d95;
}

.hidden {
  display: none;
}