body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.brand {
  height: 35px;
  width: 38px;
  display: inline-block;
  margin-top: -8px;
  margin-bottom: -4px;
  /*margin-bottom: 5px;*/
}

div.message {
  color: red;
}

span.orange {
  color: darkorange;
}