<navbar></navbar>
<main class="container">
  <form name="form" novalidate ng-submit="$ctrl.submit()">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        Sign In:<br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <input placeholder="Username" name="username" id="username" type="text" required ng-model="$ctrl.login.username">
        <label for="username">Username</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <input placeholder="Password" name="password"  id="password" type="password" required ng-model="$ctrl.login.password">
        <label for="password">Password</label><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
      <button type="submit" ng-disabled="form.$invalid">Submit</button>
    </div>
  </form>
</main>
<!-- <script>
$('#loginForm').submit((event) => {
  event.preventDefault();
  $('#message').empty();

  const name = $('#name').val().trim();
  const password = $('#password').val();

  const options = {
    contentType: 'application/json',
    data: JSON.stringify({ name, password }),
    dataType: 'json',
    type: 'POST',
    url: '/api/login'
  };

  $.ajax(options)
    .then((response) => {
      console.log("Auth Succeeded");
      console.log(response);
      // window.location.href = '/';
    })
    .catch(($xhr) => {
      console.log("Auth Failed");
      $('#message').append("Auth Failed");
    });
});
</script> -->