<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
<% include ../partials/nav %>
<main>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>Welcome to Parts Analyzer</h1>
        <%= username %>
      </div>
    </div>
    <hr>
</main>
<% include ../partials/footer %>
</body>
</html>
