<!DOCTYPE html>
<html>
<% include ../partials/head %>
  <body>
    <% include ../partials/nav %>
    <main class="container">
      <div class="row">
        <div id="message" class="col-xs-offset-2 col-xs-8 message"></div>
      </div>
      <form id="loginForm" method="post" action="/session" class="col offset-s2 s8">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            Sign In:<br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="Name" name="name" id="name" type="text">
            <label for="name">Name</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="Password" name="password"  id="password" type="password">
            <label for="password">Password</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
  <script>
    $('#loginForm').submit((event) => {
      event.preventDefault();
      $('#message').empty();

      const name = $('#name').val().trim();
      const password = $('#password').val();

      const options = {
        contentType: 'application/json',
        data: JSON.stringify({ name, password }),
        dataType: 'json',
        type: 'POST',
        url: '/session'
      };

      $.ajax(options)
        .then(() => {
          console.log("AUTH SUCCEEDED");
          window.location.href = '/';
        })
        .catch(($xhr) => {
          console.log("AUTH FAILED");
          $('#message').append(`${JSON.parse($xhr.responseText).error}<br><br>`);
        });
    });
  </script>
<% include ../partials/footer %>
</body>
</html>

