<!DOCTYPE html>
<html>
<% include ../partials/head %>
  <body>
    <% include ../partials/nav %>
    <main class="container">
      <div class="row">
        <div id="message" class="col-xs-offset-2 col-xs-8 message"></div>
      </div>
      <form id="registerForm" method="post" action="/register" class="col offset-s2 s8">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            Register:<br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="First Name" name="firstName" id="firstName" type="text">
            <label for="firstName">First Name</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="Last Name" name="lastName" id="lastName" type="text">
            <label for="lastName">Last Name</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="Username" name="username" id="username" type="text">
            <label for="username">Username</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="Password" name="password"  id="password" type="password">
            <label for="password">Password</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="Company" name="company" id="company" type="text">
            <label for="company">Company</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="Email" name="email" id="email" type="text">
            <label for="email">Email</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="Zip Code" name="zipCode" id="zipCode" type="text">
            <label for="zipCode">Zip Code</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
  <script>
    $('#registerForm').submit((event) => {
      event.preventDefault();
      $('#message').empty();

      const firstName = $('#firstName').val().trim();
      const lastName = $('#lastName').val().trim();
      const username = $('#username').val().trim().toLowerCase();
      const email = $('#email').val().trim();
      const zipCode = $('#zipCode').val().trim();
      const company = $('#company').val().trim();
      const password = $('#password').val();

      const options = {
        contentType: 'application/json',
        data: JSON.stringify({ firstName, lastName, username, password, company, email, zipCode }),
        dataType: 'json',
        type: 'POST',
        url: '/users/register'
      };

      $.ajax(options)
        .then(() => {
          console.log("Registration Succeeded");
          window.location.href = '/auth/login';
        })
        .catch(($xhr) => {
          console.log("Registration Failed");
          // $('#message').append($xhr.responseText);
          $('#message').append("Registration Failed");
        });
    });
  </script>
<% include ../partials/footer %>
</body>
</html>

