<!DOCTYPE html>
<html>
<% include ../partials/head %>
  <body>
    <% include ../partials/nav %>
    <main class="container">
      <div class="row">
        <div id="message" class="col-xs-offset-2 col-xs-8 message"></div>
      </div>
      <form id="uploadForm" method="post" action="/session" class="col offset-s2 s8">
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            Upload a CSV file:<br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
            <input placeholder="File" id="file" type="file" name="uploads[]" multiple="multiple">
            <label for="file">File</label><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-offset-2 col-xs-8">
          <button type="submit">Upload</button>
        </div>
      </form>
    </main>
  </body>
  <script>
    $('#uploadForm').submit((event) => {
      event.preventDefault();
      
      var files = $('#file').get(0).files;

      if (files.length > 0) {
        // create a FormData object which will be sent as the data payload in the
        // AJAX request
        var formData = new FormData();

        // loop through all the selected files and add them to the formData object
        for (var i = 0; i < files.length; i++) {
          var file = files[i];

          // add the files to formData object for the data payload
          formData.append('uploads[]', file, file.name);
        }

        $.ajax({
          url: '/upload',
          type: 'POST',
          data: formData,
          processData: false,
          contentType: false,
          success: function(data){
              console.log('upload successful!\n' + data);
              window.location.replace('/dashboard');
          },
          xhr: function() {
            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener('progress', function(evt) {
            }, false);
            return xhr;
          }
        });
      }
    });
  </script>
<% include ../partials/footer %>
</body>
</html>

