<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home"><img src="/images/partridge_logo.png" class="brand align-top" alt=""> PARTridge</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left">
        <li ng-if="$ctrl.isAuthenticated === true"><a ui-sref="dashboard">Dashboard</a></li>
        <li ng-if="$ctrl.isAdmin === true"><a ui-sref="show-vendors">Vendors</a></li>
        <li ng-if="$ctrl.isAuthenticated === true"><a ui-sref="csv-upload">CSV Upload</a></li>
        <!-- <li ng-if="$ctrl.isAuthenticated === true"><a ui-sref="stl-upload">STL Upload</a></li> -->
        <li ng-if="$ctrl.isAuthenticated === true"><a ui-sref="new-part">New Part</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="$ctrl.isAuthenticated === true"><a ng-click="$ctrl.logout()">[{{$ctrl.username}}] Logout</a></li>  
        <li ng-if="$ctrl.isAuthenticated !== true"><a ui-sref="login">Login</a></li>          
        <li ng-if="$ctrl.isAuthenticated !== true"><a ui-sref="register">Register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
